RewriteEngine on
RewriteCond %{HTTP_HOST} ^(www.)?mhsamerica.com$ [NC]
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ /public/$1
RewriteCond %{HTTP_HOST} ^(www.)?mhsamerica.com$ [NC]
RewriteRule ^(/)?$ public/ [L]