    	.colored {
    		background: #4b6fb8!important;
    		color: snow!important;
    	}
    	.techteam {
            /*
    		background: red!important;
    		color: snow!important;
            */
            background-color: #f2dede!important;
            border-color: #ebccd1!important;
            color: #a94442!important;
    	}
    	.salesteam {
            /*
    		background: green!important;
    		color: snow!important;
            */
            background-color: #dff0d8!important;
            border-color: #d6e9c6!important;
            color: #3c763d!important;
    	}
    	.supportteam {
            /*
    		background: #4b6fb8!important;
    		color: snow!important;
            */
            background-color: #d9edf7!important;
            border-color: #bce8f1!important;
            color: #31708f!important;
    	}

        .otherteam{
            background-color:rgb(245, 247, 217);
            border-bottom-color:rgb(241, 239, 188);
            color: #8a8867!important;

        }

        .yellowteam{
            background-color: #fff3cd;
            border-color: #ffeeba;
            color: #856404!important;

        }

        .silverteam{
            color: #383d41!important;
            background-color: #e2e3e5;
            border-color: #d6d8db;
        }

    	.wholabel {
    		padding: 5px 10px;
    		border-radius: 5px;
    		font-weight: normal;
    		font-family: verdana;
    	}