body{background:rgb(36, 39, 41);}
#header-wrapper{border-bottom:10px solid #005499;}
#footer-wrapper{bottom:0;}
#backdrop{overflow:hidden;position:absolute;left:0;top:50px;bottom:20px;right:0;background-repeat:no-repeat;}
#backdrop-inner{background:#002 url(../img/parallax/american-night.jpg);background-size:cover;background-repeat:no-repeat;margin:auto;width:1620px;height:1080px;transform-style:preserve-3d;}
.get-in-touch {position:relative;margin:0 auto;padding:30px;max-width:370px;border-radius:2px;border:none;
background:rgb(255, 255, 255) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAGCAYAAACFIR03AAAAV0lEQVR42tXOMRWAQAwE0RWFDRTg5d47Jeg4Q9gI06RbqlwKil/P6LpXbDCf85AxEBtMGjKG/jyPUHUerfP4nEeoOo/Wedj5pOo8Wudh55Oq82idh51PLxpvled7kLAXAAAAAElFTkSuQmCC) repeat-x;
box-shadow:0 10px 20px rgba(0, 0, 0, 0.2);-moz-box-shadow:0 10px 20px rgba(0, 0, 0, 0.2);-webkit-box-shadow:0 10px 20px rgba(0, 0, 0, 0.2);}
.get-in-touch input[type=text],.get-in-touch input[type=email],.get-in-touch textarea{background:rgb(235, 241, 245);color:rgb(36, 39, 41);}
.get-in-touch input:focus,.get-in-touch textarea:focus{outline:0;background:#fff}
.get-in-touch .panel-footer{margin:30px -30px -30px}
.content{border:none;}
@media (max-width:991px) {
	#wrap>.container{padding-top:64px}
	.panel-default{opacity:1}
	#footer-wrapper{position:relative;}
	/* .navbar-nav,.navbar-toggle{display:none} */
}

body{background-color:#002;}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{overflow:hidden;}
