.content{border:none;}
.panel-default{background:rgba(255,255,255,0.9)}
.form-group.last{margin-bottom:0px}
.h1h4 { font-size: 1.28em;margin-top: 10px;margin-bottom: 10px; }
.h1h2 { font-size: 2.14em;margin-top: 20px;margin-bottom: 10px; }
.h1ph { font-size: 14px;margin: 0px;padding: 2px auto;  }

@media (min-width:768px) {
	.form-horizontal .control-label{font-size:95%;}
}
@media (max-width:991px) {
	#wrap>.container{padding-top:64px}
	.panel-default{opacity:1}
	/* .navbar-nav,.navbar-toggle{display:none} */
}
