.statecontainer {
	width: 100%;
	padding:0;
	position: relative;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
}
.statecol {
	width: 20%;
	display: inline-block;
	text-align: center;
	margin: auto;
}
.statecol a {
	display: block;
	background: none;
	height: 2em;
	padding: auto auto;
	padding-top: 3px;
}

.statecol a:hover {
	display: block;
	background: #d6e5ff;
}

.statebanner {
	height: 20vh;
	background: url('/img/stockphotos/autumn-colors-country-417099-web.jpg');
	background-size: 100%;
	background-position: center 65%;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
}

.statebanner h3 {
	font-size: 2em;
	color: snow;
	margin: auto auto;
	text-align: center;
}



			.mailer {
				background: rgba(66, 134, 244, 0);
				width: 100%;
				padding:3px 3px!important;
				border-radius: 5px!important;
				position: relative;
				margin: auto;
				color: gray;
				display: flex;
			}


.states-section {
	padding-bottom: 1in;
}
.states-section-mobile {
		display: none;
}

@media only screen and (max-width: 767.98px) {

	.statecontainer {
		width: 100%;
		padding:0;
		position: relative;
		display: block;
	}

	.statecol {
		width: 100%;
		display: inline-block;
	}

	.statecol a {
		font-size: 1.5em;
		text-align: left;
		width: calc(50% - 4px);
		margin: 2px;
		background: #f5f5f5;
		border: 1px solid #dedede;
		float: left;
		min-height: calc(10vh - 4px);
		text-align: center;
		display: inline-flex;
		align-items: center;
		align-content: center;
		justify-content: center;
	}
	.states-section {
		display: none;
	}
	.states-section-mobile {
		display: block;
		padding-bottom: 1in;
	}

}

.thick-hr {
    border: 0;
    height: 3px;
    background: #333;
    background: -webkit-gradient(linear, 0 0, 100% 0, 
    	from( 			rgba(40, 107, 255,.1) ), 
    	to(   			rgba(40, 107, 255,.1) ), 
    	color-stop(50%, rgba(40, 107, 255,.25) ) );

    width: 100%;
}

.nopad {
	padding: 0;
}