	.for-everyone-promo-row {
		text-align: center;font-size: 1.5em;padding-bottom: 100px;padding-top: 0px;
	}
	.for-everyone-promo-row .col-md-12 {
		text-align: center;
	}
	.for-everyone-promo-row .col-md-3 {
		text-align: center;
	}
	.for-everyone-promo-row h3 {
		color:#005499;font-family:Lato;margin-bottom: 15px;padding-bottom: 20px;
	}
	.for-everyone-promo-row .col-md-3 a {
		font-family: Voltaire;color:#0d0d73;font-weight: bold;
	}

	.for-everyone-promo-row .thick-hr {
		width: 80%;
		margin: 10px auto;
	}

	.for-everyone-promo-row .thick-hr:first-of-type {
		width: 80%;
		margin: 10px auto;
	}