#whatabove .btn, #whatbelow .btn {overflow:hidden;text-overflow:ellipsis;}

input.search-box, .search-form .input-group-addon .btn {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 46px;
}

input.form-control.search-box:focus {
	-webkit-box-shadow:none;
	box-shadow:none;
	border-right-color:#ddd;
}

.h1 {
	margin-top:44px;
	font-size: 2.8em;
	font-family: Voltaire;
	text-transform: capitalize;
}
@media (max-width: 991px) and (min-width: 768px) {
	#logo{height:85px}
}

@media (max-width:767px) {
	#logo{height:75px}
}

@media (max-width:480px) {
	#logo {height:60px}
}

#resultsinfo {
	padding: 22px;border:1px solid silver;border-radius: 5px!important;background:snow;width: 100%;flex-direction: column;display: flex;align-items: center;justify-content: center;
}

#resultsinfo > div:first-of-type {
	background: snow;margin: auto auto;
}

#resultsinfo > div:nth-of-type(2) {
	font-weight: bold;color: #007bdf;margin:auto auto;
}

#resultsinfo img {
	margin: auto auto;height:32px;
}